body {
    font-family: Raleway;
    margin: 0;
}

#container {
    margin-left: 40px;
}

@font-face {
    font-family: "Raleway";
    src: url(fonts/Raleway-Regular.ttf) format('truetype');
}

.h2_normal {
    font-weight: normal;
}

.bold {
    font-weight: bold;
    font-size: 16px;
}

h2 {
    font-weight: bold;
}

.logo {
    height: 50px;
}

#texte_intro {
    line-height: 20px;
}

#barre_navigation, .liens_pages {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.liens_pages {
    justify-content: flex-end;
    padding: 10px;
    list-style-type: none;
}

li {
    margin-right: 20px;
    text-decoration: none;
    list-style-type: none;
}

.hebergements_lien, .activites_lien, .inscription_lien {
    padding: 20px;
    padding-top: 32px;
}

a {
    text-decoration: none;
    color: black;
    padding: 20px;
}

.hebergements_lien {
    color: #0065FC;
    opacity: 0.7;
    border-top: 2px solid rgba(0, 101, 252, .7);
}

.inscription_lien {
    color: #0065FC;
    font-weight: bold;
}

#recherche {
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 40px;
    margin-bottom: 20px;
}

#icone_localisation {
    display: flex;
    align-self: center;
    padding: 12px;
    background: #F2F2F2;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
}

#lieu {
    font-weight: bold;
    border: 1px solid lightgrey;
    padding-left: 10px;
}

#bouton_rechercher {
    background: #0065FC;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    padding: 10px;
}

#rechercher {
    color: white;
    padding: 0px;
}

#filtres {
    display: flex;
    align-items: center;
    font-weight: bold;
}

#filtres_titre {
    margin-right: 40px;
}

#icone_dollar, #icone_enfant, #icone_coeur, #icone_chien {
    padding: 15px;
    border-radius: 25px;
    background: #DEEBFF;
    color: #0065FC;
    text-align: center;
    margin-right: 10px;
}

#economique, #familial, #romantique, #animaux {
    border: 1px solid lightgrey;
    padding: 15px 0px 15px 0px;
    border-radius: 25px;
    margin-right: 40px;
    padding-right: 20px;
}

#infos {
    width: 100%;
    display: flex;
    align-items: center;
}

#icone_infos {
    color: #0065FC;
    border: 1px solid lightgrey;
    padding: 5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

#infos_logements {
    width: 50%;
    font-weight: normal;
}

#hebergements {
    width: 100%;
    display: flex;
}

#liste_hebergements, #hebergements_populaires {
    background: #F2F2F2;
    height: 600px;
    margin-right: 40px;
    border-radius: 25px;
    padding: 20px;
}

#liste_hebergements {
    width: 75%;
    display: flex;
    flex-flow: row wrap;
}

#hebergements_populaires {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.h3_titre {
    font-weight: bold;
    font-size: 32px;
    margin: 5px;
    margin-top: 15px;
    width: 100%;
}

.hotel {
    background: white;
    border-radius: 10%;
    width: 200px;
    height: 200px;
    padding: 5px;
    margin-left: 20px;
    line-height: 2px;
    font-size: 14px;
    box-shadow: 1px 1px lightgrey;
}


.miniatures {
    height: 125px;
    width: 200px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    object-fit: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    object-position: 50% 50%;
}

.hotels_contenu {
    padding-left: 10px;
}

.blue_stars {
    color: #0065FC;
}

.grey_stars {
    color: #F2F2F2;
}

.lien_hotels {
    margin: 0;
    padding: 0;
}

.h4_titre {
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: left;
}

#row_1, #row_2 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 20px;
}

#populaires_texte {
    display: flex;
}

#icone_graphique {
    padding: 20px;
    font-size: 32px;
}

.hebergement_populaire {
    background: white;
    border-radius: 10%;
    width: 400px;
    height: 140px;
    padding: 5px;
    margin-left: 20px;
    font-size: 14px;
    display: flex;
    margin-bottom: 20px;
    box-shadow: 1px 1px lightgrey;
}

.miniatures_hebergement_populaires {
    height: 140px;
    width: 140px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    object-fit: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    object-position: 50% 50%;
}

.hebergement_populaires_contenu {
    padding-left: 20px;
    width: 160px;
    height: 100%;
    display: inline-block;
}

.hebergement_populaires_contenu > p {
    line-height: 5px;
}

.populaires_titre {
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0px 0px 0px;
}

.lien_populaires {
    padding: 0px;
    display: flex;
    align-content: center;
}

#stars_rating {
    margin-top: 45px;
}

#activites {
    width: 100%;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
}

.activites_titre {
    font-weight: bold;
    font-size: 32px;
    margin-top: 60px;
}

.activites_container_full, .activites_container_half {
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 1px solid white;
    border-radius: 25px;
    box-shadow: 1px 1px lightgrey;
    margin: 30px;
}

.column {
    margin-right: 60px;
}

.activites_container_full {
    height: 550px;
    margin-left: 0px;
}

.activites_container_half {
    height: 250px;
    width: 100%;
    margin-bottom: 50px;
}

.h4_activites {
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    margin-top: 15px;
}

.activites_img_full {
    height: 500px;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    object-position: 50% 50%;
}

.activites_img_half {
    height: 200px;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    object-position: 50% 50%;
}

a {
    padding: 0;
}

footer {
    background: #F2F2F2;
    display: flex;
    line-height: 25px;
    justify-content: space-between;
    width: 100%;
}

#a_propos, #nos_hebergements, #assistance {
    margin-left: 0;
}